<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">

	<select id="count" resultType="int">
		select count(*) from notice
	</select>

	<select id="list" parameterType="dto.PageDTO" resultType="dto.NoticeDTO">   
   		<![CDATA[
	 	select rownum, b.* from
     	(select rownum as rm, a.*
     	from(select * from notice order by nnum desc)a)b
     	where b.rm>=#{startRow} and b.rm<=#{endRow}
		]]>
	</select>
	
	<select id="searchList" parameterType="hashmap" resultType="dto.NoticeDTO">
		<![CDATA[
	 	select rownum, b.* 
	 	from (select rownum as rm, a.*
     		  from(select * from notice
     	]]>	  
     		  <if test="bname != null">
     	<![CDATA[	WHERE bname LIKE '%${bname}%'  ]]>
     		  </if>
     	<![CDATA[	  
     		   order by nnum desc)a)b
     	where b.rm>=#{startRow} and b.rm<=#{endRow}
		]]>
	</select>
	
	<select id="searchCount" parameterType="hashmap" resultType="int">
		select count(*) from notice
		where bname like '%${bname}%'
	</select>
	
	<select id="popular" resultType="dto.NoticeDTO">
		<![CDATA[
		select rownum, b.*
		from (select rownum as rm, a.*
              from( select * from notice order by ncount desc)a)b
		where b.rm <= 3
		]]>   
	</select>
	
	<insert id="insert" parameterType="dto.NoticeDTO">
	   insert into notice
		values(nnum_seq.nextval,#{aid},#{bname},#{btext},sysdate, #{ncount})
		<selectKey keyProperty="nnum" resultType="Integer" order="AFTER"> 
			SELECT nnum_seq.currval FROM dual 
		</selectKey>
	</insert>

	<update id="readCount" parameterType="int">
		update notice
		set	ncount=ncount+1
		where nnum=#{nnum}
	</update>
	
	<select id="view" parameterType="int" resultMap="notice_upload_view">
		select n.*, u.nnum as unnum, u.aid as uaid, u.*
		from notice n, upload u
		where n.nnum=u.nnum(+)
		and n.nnum=#{nnum}
	</select>
	
	<resultMap type="dto.NoticeDTO" id="notice_upload_view" autoMapping="false">
		<result column="nnum" property="nnum" />
		<result column="aid" property="aid" />
		<result column="bname" property="bname" />
		<result column="btext" property="btext" />
		<result column="ndate" property="ndate" />
		<result column="ncount" property="ncount" />
		<collection property="uList" javaType="java.util.List" ofType="dto.UploadDTO" autoMapping="false">
			<id column="upno" property="upno" />
			<id column="unnum" property="nnum" />
			<id column="uaid" property="aid" />
			<id column="upname" property="upname" />
		</collection>
	</resultMap> 
	
	<update id="update" parameterType="dto.NoticeDTO">
		update notice 
		set aid=#{aid}, bname=#{bname}, btext=#{btext}, ndate=sysdate, ncount=#{ncount}
		where nnum=#{nnum}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from notice where nnum=#{nnum}
	</delete>

	
	<select id="uploadFile" parameterType="int" resultType="String">
		select upload from board where num=#{num}
	</select>
	
	
	<delete id="fileDelete" parameterType="int">
		delete from upload where upno=#{upno}
	</delete>
	


</mapper>

