<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="serial">

	<select id="getSerial" parameterType="map" resultType="dto.SerialDTO">
		select rownum, a.*
		from (select rownum as rm, serial.* from serial where bno=#{bno} order by upno)a
		where a.rm=#{rm} 
	</select>
	
	<select id="count" parameterType="int" resultType="int">
		select count(upno) from serial where bno=#{bno}
	</select>
	
	<select id="myCount" parameterType="map" resultType="int">
		select rm
		from (
			select rownum as rm, a.* 
			from (
				select *
				from serial 
				where bno=#{bno}
				order by upno
				)a
			)b
		where upno=#{upno}
	</select>
	
	<select id="reviewList" parameterType="int" resultType="dto.ReviewCommentDTO">
		select *
		from review_comment
		where upno=#{upno}
		order by rdate desc
	</select>
	
	<insert id="insertReviewComment" parameterType="dto.ReviewCommentDTO">
		insert into review_comment
		values(REVIEW_COMMENT_RNO_SEQ.nextval,#{id},#{upno},#{bno},#{rtext},sysdate)
	</insert>
	
	<delete id="deleteReviewComment" parameterType="dto.ReviewCommentDTO">
		delete from review_comment
		where rno=#{rno} and upno=#{upno} and bno=#{bno}
	</delete>

	<select id="gradeCheck" parameterType="java.util.Map" resultType="int">
		select count(grade) from grade where id=#{id} and upno=#{upno}
	</select>
	
	<insert id="gradeInsert" parameterType="java.util.Map">
		insert into grade
		values(#{id}, #{upno}, #{bno}, #{grade})
	</insert>
	
	<update id="gradeUpdate" parameterType="java.util.Map">
		update grade
		set grade=#{grade}
		where id=#{id}
		and upno=#{upno}
	</update>

</mapper>